
body{
    margin: 0;
}
header{
    display: flex;
}
a{
    color: black;
    text-decoration: none;
}
main{position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(0deg, #E5E5E5, #E5E5E5);
    border: 1px solid #0000001A;
    
}

/*header*/
.background-logo{
   height: 667px;
   width: 100%;
   object-fit: cover;
}
.logo{
    position: absolute;
    width: 207px;
    height: 25.26px;
    top: 51px;
    left: 69px;
}
header p{position: absolute;
    display: flex;
    width: 60%;
    Top:245px;
    left: 21%;
    font-size: 44px;
    color:#FFD15B;
    text-align: center;
    justify-content: center;
    font-family: 'Anton', sans-serif; 
    font-weight:400;
}

.research{   display: flex;
    position: absolute;
    top: 450.42px; 
    left: 0; 
    width: 100%; 
    justify-content: center; 
}
.research__text{
    width: 954px;
    height: 52px;
    padding-left: 30px;
    border-radius: 5px;
}

.research__logo-container .hover {
    display: none;
   
}
.research__logo{
    margin-left: -52px;
    width: 44px;
    margin-top: 7px;
}

.default:hover {
    display: none;
}

.research__logo-container:hover .hover {
   display: inline;
   margin-left: -48px;
}

.reset-research{position: absolute;
    display: flex;
    right: 340px;
    top: 20px;
    border: none;
    background: none;
    padding: 0;
    text-decoration: none;
    cursor: pointer; 
}
  
/*label*/


.select p{
    display: block;
    width: 203px;
    height: 53px;
    text-align: left;
    background-color: #FFD15B;
    border-radius: 10px;
    margin: 30px;
}
.tag-research{margin-top: 10px;
    margin-left: 100px;
}
.tag-research select{
    margin-right: 50px;
    width: 190px;
    height: 46px;
    border-radius: 11px;
    background-color: #FFFFFF;
   box-shadow: none;
}
.tag-research form select  option {
    margin-left: 150px;
}
.select-option p{margin-right: 50px;
    width: 190px;
    height: 46px;
    border-radius: 11px;
    background-color: #FFD15B;
    display: flex;
    justify-content: left;
    margin-left: 100px;
    align-items: center;
}
.select-option button{
    background-color: #FFD15B;
    border: none;
    justify-content: right;
}
/*card*/

.error-message{display: flex;
margin-left: auto;
margin-right: auto;
font-size: 44px;
margin:50px 100px ;
text-align: center;
}
#card{margin-top: 50px;
   
    margin-right: 100px;
    display: flex;
    gap: 100px;
   
    width: 100%;
    flex-wrap: wrap;
    
}
.recipe-card{position: relative;
    Width:380px;
Height:700px;
border-radius:21px;
background-color: white;
}
.recipe-card img {border-top-right-radius:21px;
    border-top-left-radius: 21px;
    width: 380px;
    height: 253px;
}
.recipe-card .card__time{display: flex;
    background-color: #FFD15B;
    border-radius: 14px;
    width: 80px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 35px;
    position: absolute;
    top: 0;
    right: 30px;
    margin-right: 0;
    margin-left: 0px;
}
.recipe-card h2{
    margin-left: 25px;
    font-family: 'anton';
    font-size: 18px;
    font-weight: 400;
    margin-right: 25px;
}
.recipe-card p {
    margin-left: 25px;
    font-family: "manrope";
    font-weight: 400;
    font-size: 14px;
    margin-right: 25px;
}
.card__title{
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
}
.grey{
    font-family: 'Manrope';
    color: #7A7A7A;
}
.debord p{display: block;
    width: 330px;
    height: 76px;
    overflow: hidden;
    margin-right: 25px;
}
main .card__total{position: absolute;
    top: 20px;
    right: 100px;
    margin: 0;
    font-family: 'anton';
    font-weight: 400;
    font-size: 21px;
}

.card__ingredient {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card__ingredient__content {
    flex: 1 40%; 
    margin-right: 15px;
    margin-top: 15px;
  }
  
  .card__ingredient__quantity {
    color: grey;
    margin-left: auto; 
  }
  




